body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img {
	height: 315px;
}

.fleft {
	float: left;
	padding: 15px;
}

.fright {
	float: right;
	padding: 15px;
	
}